@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <h2></h2>
</div>
<div class="group btmspace-50 demo">
    <div class="group demo">
        <div class="two_quarter first">
            <input type="text" placeholder="Content" required style="font-size:larger;width:500px;height:36px;text-align:center" />
        </div>

    </div>
</div>
<div class="group btmspace-50 demo">
    <div class="group demo">
        <div class="two_quarter first">
            <input type="text" placeholder="Quantily" required style="font-size:larger;width:500px;height:36px;text-align:center" />
        </div>
        <div class="col-md-10">
            <button class="btn btn-primary">Search</button>
        </div>
    </div>
</div>

<div class="group btmspace-50 demo">
    <div class="group demo">
        <div class="two_quarter first">
            <input type="text" placeholder="Link" required style="font-size:larger;width:500px;height:36px;text-align:center" />
        </div>
        <div class="col-md-8">
            <button class="btn btn-primary">Go to link</button>
        </div>
    </div>
</div>
<div class="group btmspace-50 demo">
    <div class="group demo">
        <div class="two_quarter first">
            <input type="text" placeholder="Keyword" required style="font-size:larger;width:500px;height:36px;text-align:center" />
        </div>
        <div class="col-md-8">
            <button class="btn btn-primary">Filter</button>
        </div>
    </div>
</div>
<div class="group btmspace-50 demo">
    <div class="group demo">
        <div class="two_quarter first">
            <input type="text" placeholder="Search with link" required style="font-size:larger;width:500px;height:36px;text-align:center" />
        </div>
        <div class="col-md-8">
            <button class="btn btn-primary">Search</button>
        </div>
    </div>
</div>

